* {
    color: lime;
    font-family: "Lucida Console", Monaco, monospace;
}
body {
    text-align: center;
    background-image: url("background.png");
}
h1 {
    font-size: 42pt;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 10vw;
    }
}
@media screen and (max-width: 800px) {
    #actor {
        font-size: 8vw;
    }
}
@media screen and (max-width: 800px) {
    #footer {
        font-size: 2vw;
    }
}
#actor {
    font-size: 40pt;
}
#btn {
    font-size: 15pt;
    border-radius: 5%;
    padding: 1%;
    background: rgb(58, 58, 58);
    border-color: rgb(30, 30, 30);
}
#footer {
    position: absolute;
    transform: translateX(-50%);
    bottom: 0px;
    font-size: 15pt;
}
